<p id="notice"><%= notice %></p>

<h1>bundl</h1>
<p>collect what matters</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bundls.each do |bundl| %>
    <tr>
      <td><%= bundl.title %></td>
      <td><%= bundl.description %></td>
      <td><%= bundl.color %></td>
      <td><%= link_to 'Show', bundl %></td>
      <td><%= link_to 'Edit', edit_bundl_path(bundl) %></td>
      <td>
        <%= link_to 'Destroy', bundl, method: :delete, data: { confirm: 'Are you
        sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Bundl', new_bundl_path %>
