<p id="notice"><%= notice %></p>

<div class="d-flex flex-row justify-content-between mb-4"> 
  <h1>
    <%= @bundl.title %>
  </h1>

  <%=link_to 'Edit bundl', edit_bundl_path(@bundl) %> 

  <%= link_to 'New Item', 
  new_media_item_path(bundl_id: @bundl.id), 
          class: "btn btn-success btn-lg",
          method: :put %>
</div> 

<p>
  <%= @bundl.description %>
</p>

<h5>
  Media Items
</h5>

<div class="list-group">
  <% @items.each do |item| %>
  <a href="<%= item.url%>" class="list-group-item list-group-item-action list-group-item-primary" target="_blank">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= item.name %></h5>
      <small> Added on <%= item.updated_at.strftime("%B %d") %></small>
    </div>
    <p class="mb-1"><%= sanitize(item.description) %></p>
    <small><%= item.source %></small>
    <%= link_to 'Edit', edit_media_item_path(item) %>
  </a>
  <% end %>
</div>
    
<br />

