<p id="notice"><%= notice %></p>

<div class="d-flex flex-row justify-content-between mb-4"> 
  <h1>
    <%= @bundl.title %>
  </h1>

  <%=link_to 'Edit bundl', edit_bundl_path(@bundl) %> 

  <%= link_to 'New Item', 
  new_media_item_path(bundl_id: @bundl.id), 
          class: "btn btn-success btn-lg",
          method: :put %>
</div> 

<p>
  <%= @bundl.description %>
</p>

<h5>
  Media Items
</h5>

<div class="list-group">
  <% @items.each do |item| %>
  <li class="list-group-item list-group-item-action list-group-item-light">
    <div class="d-flex w-100 justify-content-between">
      <a class="link-to-text-color" href="<%= item.url%>" target="_blank">
        <h5 class="mb-1" style><%= item.name %></h5>
      </a>
      <div class="d-flex justify-content-end">
        <%= link_to 'Edit', edit_media_item_path(item), class: 'link-to-text-color' %>
        <%= link_to 'Destroy', item, class: 'link-to-text-color', method: :delete, data: { confirm:
          'Are you sure?' } %>
      </div>
    </div>
    <p class="mb-1"><%= sanitize(item.description) %></p>
    <div class="d-flex w-100 justify-content-between">
      <small><%= item.source %></small>
      <small> Added on <%= item.updated_at.strftime("%B %d") %></small>
    </div>
  </li>
  <% end %>
</div>
    
<br />



