<!DOCTYPE html>
<html>
  <head>
    <title>bundl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% unless action_name == "bundl#new" || action_name == "bundl#edit" %>
      <%= render 'partials/nav'%>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
